.span10
  %br
  %h2 新发现漏洞
  %br
  %br
  %form{ :class => "form-horizontal", :method => 'post', :enctype => 'application/x-www-form-urlencoded'}
    .control-group
      %label{ :class => "control-label", :for => "title" } 漏洞名称
      .controls
        %input{ :type => 'text', :name => 'title', :value => ""}
    - if !@master
      .control-group
        %label{ :class => "control-label", :for => "assessment_type" } 评估类型
        .controls
          %select{ :name => "assessment_type" }
            - options.assessment_types.each do |type|
              %option #{type}
    .control-group
      %label{ :class => "control-label", :for => "effort" } Remediation Effort(修复建议)
      .controls
        %select{ :name => "effort" }
          - if @finding
            - options.effort.each do |effort|
              - if effort == @finding.effort
                %option{ :selected => "selected" } #{effort}
              - else
                %option #{effort}
          - else
            - options.effort.each do |effort|
              %option #{effort}
    .control-group
      %label{ :class => "control-label", :for => "type" } 漏洞类型
      .controls
        %select{ :name => "type" }
          - options.finding_types.each do |type|
            %option #{type}
    - if @nessusmap
      .control-group
        %label{ :class => "control-label", :for => "pluginid" }添加新的nessus ID mapping
        .controls
          %input{ :type => 'text', :name => 'pluginid'}
    - if @dread
      .control-group
        %label{ :class => "control-label", :for => "damage" } Damage
        .controls
          %input{ :type => 'number', :min => '0', :max => '10', :name => 'damage', :value => "0", :required => true}
      .control-group
        %label{ :class => "control-label", :for => "reproducability" } Reproducibility
        .controls
          %input{ :type => 'number', :min => '0', :max => '10', :name => 'reproducability', :value => "0", :required => true}
      .control-group
        %label{ :class => "control-label", :for => "exploitability" } Exploitability
        .controls
          %input{ :type => 'number', :min => '0', :max => '10', :name => 'exploitability', :value => "0", :required => true}
      .control-group
        %label{ :class => "control-label", :for => "affected_users" } 受影响的用户
        .controls
          %input{ :type => 'number', :min => '0', :max => '10', :name => 'affected_users', :value => "0", :required => true}
      .control-group
        %label{ :class => "control-label", :for => "discoverability" } 可发现性
        .controls
          %input{ :type => 'number', :min => '0', :max => '10', :name => 'discoverability', :value => "0", :required => true}
      .control-group
        %label{ :class => "control-label", :for => "effort" } Remediation Effort(修复建议)
        .controls
          %select{ :name => "effort" }
            %option LOW
            %option MODERATE
            %option HARD
    - elsif @cvss
      .control-group
        %label{ :class => "control-label", :for => "av" } Access Vector
        .controls
          %select{ :name => "av" }
            %option Local
            %option Local Network
            %option Network
      .control-group
        %label{ :class => "control-label", :for => "ac" } Access Complexity
        .controls
          %select{ :name => "ac" }
            %option High
            %option Medium
            %option Low
      .control-group
        %label{ :class => "control-label", :for => "au" } Authentication
        .controls
          %select{ :name => "au" }
            %option Multiple
            %option Single
            %option None
      .control-group
        %label{ :class => "control-label", :for => "c" } Confidentiality Impact
        .controls
          %select{ :name => "c" }
            %option None
            %option Partial
            %option Complete
      .control-group
        %label{ :class => "control-label", :for => "i" } Integrity Impact
        .controls
          %select{ :name => "i" }
            %option None
            %option Partial
            %option Complete
      .control-group
        %label{ :class => "control-label", :for => "a" } Availability Impact
        .controls
          %select{ :name => "a" }
            %option None
            %option Partial
            %option Complete
      .control-group
        %label{ :class => "control-label", :for => "e" } Exploitability
        .controls
          %select{ :name => "e" }
            %option Unproven Exploit Exists
            %option Proof-of-Concept Code
            %option Functional Exploit Exists
            %option High
      .control-group
        %label{ :class => "control-label", :for => "rl" } Remediation Level
        .controls
          %select{ :name => "rl" }
            %option Official Fix
            %option Temporary Fix
            %option Workaround
            %option Unavailable
      .control-group
        %label{ :class => "control-label", :for => "rc" } Report Confidence
        .controls
          %select{ :name => "rc" }
            %option Unconfirmed
            %option Uncorroborated
            %option Confirmed
      .control-group
        %label{ :class => "control-label", :for => "cdp" } Collateral Damage Potential
        .controls
          %select{ :name => "cdp" }
            %option None
            %option Low
            %option Low-Medium
            %option Medium-High
            %option High
      .control-group
        %label{ :class => "control-label", :for => "td" } Target Distribution
        .controls
          %select{ :name => "td" }
            %option None
            %option Low
            %option Medium
            %option High
      .control-group
        %label{ :class => "control-label", :for => "cr" } Confidentiality Requirement
        .controls
          %select{ :name => "cr" }
            %option Low
            %option Medium
            %option High
      .control-group
        %label{ :class => "control-label", :for => "ir" } Integrity Requirement
        .controls
          %select{ :name => "ir" }
            %option Low
            %option Medium
            %option High
      .control-group
        %label{ :class => "control-label", :for => "ar" } Availability Requirement
        .controls
          %select{ :name => "ar" }
            %option Low
            %option Medium
            %option High
      .control-group
        %label{ :class => "control-label", :for => "effort" } Remediation Effort
        .controls
          %select{ :name => "effort" }
            %option QUICK
            %option PLANNED
            %option INVOLVED
    - else
      .control-group
        %label{ :class => "control-label", :for => "risk" } 漏洞危险等级
        .controls
          %select{ :name => "risk" }
            %option{:value => 1}= "低"
            %option{:value => 2}= "中"
            %option{:value => 3}= "高"
            %option{:value => 4}= "严重"
    - if !@master
      .control-group
        %label{ :class => "control-label", :for => "affected_hosts" } 影响的IP/URL
        .controls
          %textarea{ :rows => '10', :class => 'input-xxlarge', :id => 'affected_hosts', :name => 'affected_hosts'}
    .control-group
      %label{ :class => "control-label", :for => "overview" }
        %a{:href=> '#mymodal', "data-toggle"=>'modal', :class=>'btn btn-info'}
          漏洞描述
      .modal{:id=>'mymodal', :class=>'modal hide fade', :tabindex=>'-1', :role=>'dialog', "aria-labelledby"=>'modal-label', "aria-hidden"=>'true'}
        .modal-header
          %button{:type=>'button', :class=>'close', "data-dismiss"=>"modal", "aria-hidden"=>"true"}
            x
          %h3{:id=>"modal-label"}
            Meta Markup
        .modal-body
          %p
            There are four markup sets you can use in the Overview and the Remediation summary. This text is converted inside of Microsoft Word.
            %p{:class=>"text-error"}
              您必须闭合所有标签。否则，你可能破坏所有文本格式。参见下面的示例。
            %b
              Review the finding "TEST - Markup Tester" for a clear example. As always, press preview to see the finding in Word.
          %h2
            Bullets
          %p
            Place the bulleted text inbetween a *- and a -* like so:
            %br
            %br
            %code
              *- Bulleted text goes here -*
          %h2
            Paragraph Heading Text
          %p
            Place the heading inbetween a [== and a ==] like so:
            %br
            %br
            %code
              [== Heading text goes here ==]
          %h2
            Italics
          %p
            Place italicized inbetween a [~~ and a ~~] like so:
            %br
            %br
            %code
              [~~ Italics ~~]
          %h2
            Code
          %p
            Place code inbetween a [[[ and a ]]] like below. CODE CANNOT STRETCH MULTIPLE LINES.
            %br
            %br
            %code
              [[[ code, code goes here ]]]

      .controls
        %div{ :rows => '10', :class => 'input-xxlarge', :textacontenteditable => 'true', :id => 'overview', :name => 'overview'}
        %br
    .control-group
      %label{ :class => "control-label", :for => "poc" } POC
      .controls
        %textarea{ :rows => '10', :class => 'input-xxlarge', :id => 'poc', :name => 'poc'}
    - if !@master
      .control-group
        %label{ :class => "control-label", :for => "notes" } 漏洞危害
        .controls
          %textarea{ :rows => '10', :class => 'input-xxlarge', :id => 'notes', :name => 'notes'}

    .control-group
      %label{ :class => "control-label", :for => "remediation" } 修复建议
      .controls
        %textarea{ :rows => '10', :class => 'input-xxlarge', :name => 'remediation'}
    .control-group
      %label{ :class => "control-label", :for => "references" } 参考链接 (一行一条)
      .controls
        %textarea{ :rows => '5', :class => 'input-xxlarge', :name => 'references'}


    %input{:type => 'submit', :value => 'Save'}
    %a{ :href => "/"}
      %input{ :type => "button", :value => 'Cancel'}
