!!!
%html{:lang => "en"}
  %head
    %script{:src => "/js/jquery-2.0.3.js"}
    %script{:src => "/js/bootstrap-collapse.js"}
    %script{:src => "/js/bootstrap-transition.js"}
    %script{:src => "/js/bootstrap-alert.js"}
    %script{:src => "/js/bootstrap-modal.js"}
    %script{:src => "/js/bootstrap-dropdown.js"}
    %script{:src => "/js/bootstrap-scrollspy.js"}
    %script{:src => "/js/bootstrap-tab.js"}
    %script{:src => "/js/bootstrap-tooltip.js"}
    %script{:src => "/js/bootstrap-popover.js"}
    %script{:src => "/js/bootstrap-button.js"}
    %script{:src => "/js/bootstrap-carousel.js"}
    %script{:src => "/js/bootstrap-typeahead.js"}
    %script{:src => "/js/script.js"}

    %meta{:charset => "utf-8"}/
    %title 中文版渗透报告生成系统-Serpico
    %meta{:content => "", :name => "description"}/
    %meta{:content => "", :name => "author"}/
    %link{:href => "/css/bootstrap.css", :rel => "stylesheet"}/
    %link{:href => "/css/bootstrap.min.css", :rel => "stylesheet"}/
    %link{:href => "/css/bootstrap-responsive.css", :rel => "stylesheet"}/
    %link{:href => "/css/font-awesome.css", :rel => "stylesheet"}/
    :css
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      } 
      .padded {
        padding-top: 20px;
        padding-bottom: 5px;
        padding-left: 5px;
        padding-right: 0px;
      }
      .sidebar-nav {
        padding: 9px 0;
      }
      .orange {
        background-color: #ffa500;
      }
        %link{:href => "/css/bootstrap-responsive.css", :rel => "stylesheet"}
  - if valid_session?
    %body
      .navbar.navbar-fixed-top
        .navbar-inner
          %ul.nav{"class" => "padded"}
            %li
              %a.fa.fa-file-word-o{:href => "/reports/list"} &nbsp;报告列表 
            %li
              %a.fa.fa-pencil-square-o{:href => "/report/new"} &nbsp;新建报告
          .nav-collapse
            %ul.nav{"class" => "pull-right padded"}
              - if is_administrator?
                %li
                  %a.fa.fa-sitemap{:href => "/master/findings"} &nbsp;漏洞数据库
                %li
                  %a.fa.fa-reorder{:href => "/admin/"} &nbsp;管理
              %li
                %a.fa.fa-tasks{:href => "/info"} &nbsp;专家信息
              %li
                %a.fa.fa-external-link-square{:href => "/logout"} &nbsp;退出

      <br>
      .container-fluid
        .row-fluid
          .span2
            %br
            - if @master
              %button.btn-danger.btn-small
                警告：您正在编辑的模板数据库
              %br
              %br
              %ul.nav.nav-list
                %li.nav-header 漏洞菜单
                %li
                  %a{ :href => '/master/findings' } 显示当前发现的漏洞信息
                %li
                  %a{ :href => '/master/findings/new' } 添加漏洞
              %ul.nav.nav-list
                %li.nav-header 数据库菜单
                %li
                  %a{ :href => '/master/export' } 导出当前漏洞
                %li
                  %a{ :href => '/master/import' } 导入当前漏洞
            - elsif @admin
              %ul.nav.nav-list
                %li.nav-header 用户管理菜单
                %li
                  %a{ :href => '/admin/add_user' } 添加用户
                %li
                  %a{ :href => '/admin/list_user' } 用户列表
                %li.nav-header 管理报告模板菜单
                %li
                  %a{ :href => '/admin/templates/add' } 添加报告模板
                %li
                  %a{ :href => '/admin/templates' } 显示报告模板
            - else
              - if @report
                %ul.nav.nav-list
                  %li.nav-header
                    #{@report.report_name}
                  %li
                    %a{ :href => "/report/#{@report.id}/edit" } 编辑报告信息
                  %li
                    %a{ :href => "/report/#{@report.id}/generate" } 生成报告
                    %li.nav-header 发现的漏洞
                  %li
                    %a{ :href => "/report/#{@report.id}/findings" } 列出当前报告发现的漏洞
                  %li
                    %a{ :href => "/report/#{@report.id}/findings_add" } 从模板中添加漏洞
                  %li
                    %a{ :href => "/report/#{@report.id}/findings/new" } 创建新的漏洞发现
                  %li.nav-header 附件
                  %li
                    %a{ :href => "/report/#{@report.id}/upload_attachments" } 上传新附件
                  %li
                    %a{ :href => "/report/#{@report.id}/attachments" } 当前附件列表
                  %li.nav-header <a href="/report/#{@report.id}/additional_features">附加功能</a>

          =yield
  - else
    %body
    %link(rel="stylesheet" type="text/css" href="/css/signin.css")
    .container
    %form.form-signin{:action => "/login", :method => "POST", :role => "form"}
      %img{:src => "#{@logo}", :height => 150, :width =>  500, :class => 'text-center'}
      %br
      %br
      %input.form-control.btn-block{:autofocus => "", :placeholder => "Username", :required => "", :type => "text", :name=> "username"}
      %input.form-control.btn-block{:placeholder => "Password", :required => "", :type => "password", :name=> "password"}
      %button.btn.btn-primary.btn-block.form-control{:type => "submit"} 登录
